

.textoseparacao {
    background-color: #F5F5F5;
    margin-top: 1%;
    padding: 1px;
}
.textologon {
    text-align: center;
    font-family: Sans-serif, Serif;
    font-size: 40px;
    color: rgb(30, 83, 30);
}
.contentlogon {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 50%;
    margin-right: 25%;
    height: 20%;
    width: 100%;
    border-radius: 20px;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 1px 4px rgba(63, 54, 54, 0.315);
}
.separacaologon {
    padding-left: 5%;

}
.separacaologon2 {
    padding-left: 10%;
    padding-right: 5%;

}
.separacaologon3 {
    padding-left: 5%;

}
.separacaologon3 #baixararquivo {
    text-decoration: none;
    color: rgb(87, 87, 87);
}

/* center Docs Envio */

.prontuarioenviocenter {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 50%;
    box-shadow: 1px 2px 4px 2px rgba(63, 54, 54, 0.356);
}
.prontuarioenviocenter #atention {
    color: darkgray;
}
.prontuarioenvio {
    border: 1px dotted rgba(63, 59, 59, 0.822);
    box-shadow: 1px 2px 1px 2px rgba(63, 54, 54, 0.315);
}
.prontuarioenvio #linkenvio {
    text-decoration: none;
}
.prontuarioenviocenter #lado {
    text-align: left;
    color: rgb(27, 87, 27);
    font-weight: bolder;
}